@media (max-width: 409px){

    .nav__ul{
        font-size: 1.6rem;
    }
    .ofertasPage, .productosPage{
        &__title{
            margin-top: 4rem;
        }
    }
}

@media (max-width: 359px){
    .nav__ul{
        font-size: 1.4rem;

        &__li__a{
            padding-left: .4rem;
            padding-right: .4rem;
        }
    }

    .nav__toggleLightDark__light, .nav__toggleLightDark__dark{
        padding-left: .4rem;
        padding-right: .4rem;
    }

}

@media (max-width: 274px){
    .nav__logo{
        font-size: .8em;
        top: .1rem;
        left: .1rem;
    }
}

@media (max-width: 119px){
    .nav__ul{
        margin-top: 40px;
        padding-left: 0;
    }
}

@media (pointer: coarse){
    .nav__ul{
        margin-right: 0 !important;
    }

    .ofertasPage, .productosPage{
        scrollbar-width:0;  /* Firefox */

        &::-webkit-scrollbar {   
            display: none; /* Safari and Chrome */
        }
    }

    .validation{
        scrollbar-width:0;  /* Firefox */

        &::-webkit-scrollbar {   
            display: none; /* Safari and Chrome */
        }
    }
}

@media (min-width: 607px){
    .header{
        &__title{
            &__word{
                display: inline-block;
            }
        }
    }
    .nav{
        justify-content: center;
        
        &__ul{
            padding-left: 0;
            &__li__a{
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }   
    
    .ofertasFeatured{
        &__wrapper{
            min-width: 100%;
            max-width: 100%;
            
            &__item{
                min-width: calc(50% + .5rem);
                max-width: calc(50% + .5rem);

                &>*{
                    margin: 0;
                }

                &__buttonContainer{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

@media (min-width: 680px){
    .productos{
        grid-template-columns: repeat(auto-fit, minmax(194px, 1fr));
    }
}

@media (min-width: 1111px){
    .validation{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .nav{
        padding-left: 4rem;
        padding-right: 4rem;

        &__logo{
            left: 4rem;
        }
    }
    .darkNightMode{
        right: 4rem;
    }
    .featured{
        padding-left: 4rem;
        font-size: 3.2rem ;
    }
    .main{
        flex-flow: row wrap;
        padding: 4rem;
        justify-content: center;
        align-items: start;
    }
    .ofertasFeatured{
        flex: 3;
        flex-flow: column wrap;
        align-items: start;

        &__title{
            width: 100%;
            margin-right: 0;
            
            h2{
                font-size: calc(3.2rem + 3.2vw);
                font-size: unquote("clamp(4rem, 3rem + 3vw, 7.4rem)");
                align-self: center;
            }
        }
        
        &__wrapper{
            flex-flow: column wrap;
            gap: 4rem;
            min-width: unset;
            max-width: unset;
            overflow-x: unset;
            overflow-y: unset;
            scroll-snap-type: unset;
            justify-content: start;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-left: 0;
            margin-right: auto;
            
            &__item{
                min-width: unset;
                max-width: unset;
                border-bottom: 4px dashed var(--color-segundo);
                border-right: none;
                padding: 0;
                padding-left: 1.2rem;
                background: none;

                h3{
                    font-size: 2.3rem;
                    text-shadow: 2px 2px 0 var(--color-primero), 2.6px 2.6px 0 var(--color-segundo);
                }
    
                p{
                    font-size: 1.23rem;
                    text-align: center
                }
            }
        }

      
    }
    .productos{
        flex: 8;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .footer{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .ofertasPage, .productosPage{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
